<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="max-w-md w-full space-y-8 p-10 bg-white shadow-lg rounded-lg">
      <h1 class="text-center font-bold text-lg mb-4">Inicio de sesión</h1>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Nombre de usuario:</label>
        <input type="text" formControlName="email" id="email" placeholder="Nombre de usuario"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
  
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
        <input type="password" formControlName="password" id="password" placeholder="Contraseña"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
  
      <div class="text-center">
        <button type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Iniciar Sesión
        </button>
        <br />
        <a href="/register" class="mt-5">¿No tienes cuenta? Regístrate</a>
      </div>
    </form>
  </div>
  